*{
    height: 100%;
    background-color: white;
    font-family: Courier, monospace;
    background-color: transparent;
}
h1, h2, h3 {
    height: fit-content;
}
html{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 6% auto;
    height: 100%;
    grid-gap: 0;
    margin: 0;
    padding: 0;
}
#leftNavigationDiv{
    width: 6%;
    display: grid;
    grid-template-columns: 100%; 
    grid-column-start:  1;
    grid-column-end: 2;
    position: fixed;
}
#leftNavigationDiv div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A8FE7;
}
#leftNavigationDiv div:hover{
    background-color: thistle;
}
#leftNavigationDiv div a{
    width: fit-content;
    height: fit-content;
    transform: rotate(-90deg);
    text-decoration: none;
    font-size: 21px;
    color: black;
    font-weight: 900;
    background-color: transparent;

}
#leftNavigationDiv div a sup {
    font-size: 12px;
}
#mainBodyDiv{
    grid-column-start: 2;
    grid-column-end: 3  ;
    grid-template-columns: 10% auto;
}
#mainBodyDiv div{
    height: 100%;
    /* background-color: transparent; */
    margin: 0;
}  
body #mainBodyDiv #HOME{
    /* background-image: url(images/homeBackgroundImageOptionTwo.jfif); */
    background-size:cover;
    height: 100%;
    background-color: #59D2FE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    background-size: cover;
    background-image: url(https://thumbs.gfycat.com/FavorableAstonishingKestrel-size_restricted.gif);
    /* background-image: url(https://www.freepnglogos.com/uploads/bubbles-png/bubbles-hodge-3.png); */
}
#HOME div{
    width: 60%;
    margin: 0;
    height: fit-content;
    align-content: center;
    padding: 0;
    color: white;
    font-weight: 900;
    background-color: transparent;
    
}
#HOME h1{
    margin: 0 ;
    width: 100%;
    font-size: 60px;
    
}
#HOME p{
    font-size: 20px;
    margin: 8px;
    padding: 5px;
    word-spacing: 8px;
}
h2{
margin: 0;
}

#SKILLS{
    background-color:#73FBD3;
}
#CONTACT{
    background-color:  #00B4F5;
}
#MEET{
    background-color: #C9DEF8;
    color: white;
    font-weight: 700;
}

@media screen and (max-width: 450px) {
    #HOME div{
        width: 95%;
    }
    #HOME div p{
        font-size: 15px;
        font-weight: 400;
    }
    #HOME div h1 {
        font-size: 25px;
    }
}