*{
    height: 100%;
    background-color: white;
    font-family: Courier, monospace;
    background-color: transparent;
}
html{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 6% auto;
    grid-gap: 0;
    margin: 0;
    padding: 0;
}
#leftNavigationDiv{
    width: 6%;
    display: grid;
    grid-template-columns: 100%; 
    grid-column-start:  1;
    grid-column-end: 2;
    position: fixed;
}
#leftNavigationDiv div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 228, 228);
}
#leftNavigationDiv div:hover{
    background-color: thistle;
}
#leftNavigationDiv div a{
    width: fit-content;
    height: fit-content;
    transform: rotate(-90deg);
    text-decoration: none;
    font-size: 21px;
    color: black;
    font-weight: 900;
    background-color: transparent;

}
#mainBodyDiv{
    grid-column-start: 2;
    grid-column-end: 3  ;
    grid-template-columns: 10% auto;
    background-color: transparent;
}
#mainBodyDiv div{
    height: 100%;
    background-color: transparent;
    margin: 0;
}  
#HOME{
    background-image: url(images/homeBackgroundImageOptionFour.jpg);
    background-size:cover;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#HOME div{
    width: 60%;
    margin: 0;
    height: fit-content;
    align-content: center;
    padding: 0;
    color: white;
    font-weight: 900;
    background-color: transparent;
    
}
#HOME h1{
    margin: 0 ;
    width: 100%;
    font-size: 40px;
}

#RESUME{
    background-color: rgb(126, 126, 126);
    color:  black;
    z-index: 2;
}
#SKILLS{
    background-color: rgb(211, 155, 134);
}
#CONTACT{
    background-color: teal;
}
#MEET{
    background-color: rgb(53, 73, 55);
    color: white;
}
@media screen and (max-width: 450px) {
    #HOME div{
        width: 95%;
    }
    #HOME div p{
        font-size: 15px;
        font-weight: 400;
    }
    #HOME div h1 {
        font-size: 25px;
    }
}